<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="shellScriptGen.SSExportWizard1"
            icon="icons/Shell.gif"
            id="ShellScriptGen.wizard1"
            name="Export To Shell Script">
         <description> 
            Generates shell (batch) scripts to run selected projects&apos; runtime configurations for use outside Eclipse.
         </description>
      </wizard>
   </extension>

</plugin>
